

.form-control:focus {
	background-color: transparent;
}

.form-control {
    background-color: transparent;
    border: 1.6px solid white;
}


.form-control:hover {
    border: 1.6px solid #696969;
    box-shadow: 0 0 20px 0px #696969;
}



button.btn.btn-primary.mb-2:hover {
    box-shadow: 0 0 20px 0px #696969;

}

button.btn.btn-primary.mb-2 {
    background-color: #696969;
    border: 2px solid #696969;


