
ul#navbarontop {
    float: right;
}

.form-control:focus {
	background-color: transparent;
}

.form-control {
    background-color: transparent;
    border: 1.3px solid white;
}


.form-control:hover {
    border: 1.6px solid #696969;
    box-shadow: 0 0 20px 0px #696969;
}


button.btn.btn-primary.mb-2:hover {
    box-shadow: 0 0 20px 0px #696969;

}

button.btn.btn-primary.mb-2 {
    background-color: #696969;
    border: 2px solid #696969;
}

.autoblock:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

button.btn.btn-primary.mb-2 {
    width: 96px;
}

.allcontain {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
}

body {
	background-color: #e7e7e7;
}